/*  your css code here. If applicable */
h1,h2{
    text-align:center;
}


li{
    list-style-type:none;
}
a{
    text-decoration-line:none
}

.player_one,.player_two{
    background-color: rgb(255, 255, 255);
    padding:2rem;
    border-radius:2rem;
}

body{
    background-color:rgb(204, 204, 204);
}